<!DOCTYPE html>
<html>
	<meta charset="utf-8" />
	<title>buz40 : bouton</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="/socket.io/socket.io.js"></script>
	<script src="/chemin.js"></script>

<script>
	var serveur = io.connect(racineURL);

	// En commençant, le bouton ne sait pas il est à qui, il joue où, ni avec qui.
	var noSeqBouton = <%= noSeqBouton %>;
	var nomJuge = '';
	var nomJoueur = '';
	var msg_juge = '';
	var cherchePlateau = 0;

	// Peut-être a-t-il utilisé l'URL donné par la console?
	const urlParams = new URLSearchParams(window.location.search);
	cherchePlateau = urlParams.get('no');

	// Identification du joueur
	function identification() {
		window.nomJoueur = document.getElementById("formJoueur").value;
		window.cherchePlateau = document.getElementById("formPlateau").value;
		nomJoueur.replace(/[.*+?^${}()|[\]\\]/g, '_');
		cherchePlateau.replace(/[.*+?^${}()|[\]\\]/g, '_');
		
		document.getElementById("nomJoueur").innerHTML = window.nomJoueur;
		serveur.emit('id_joueur', {	noSeqBouton: noSeqBouton,
									nomJoueur: nomJoueur,
									cherchePlateau: cherchePlateau});
	};

	// Pour éviter qu'un joueur oublie d'enter son nom
	function validerNomNonVide() {
		if (document.getElementById("formJoueur").value === "") {
			document.getElementById('formAcceder').disabled = true;
		} else {
			document.getElementById('formAcceder').disabled = false;
		}
	}

	// Entrée sur un plateau acceptée
	var numeroPlateau = undefined;
	serveur.on('bienvenue', function(msg){
		document.getElementById("bouton").style.display = "inline";	
		document.getElementById("formulaireID").style.display = "none";	
		numeroPlateau = msg.numeroPlateau;
		nomJuge = msg.nomJuge
		window.alert("Bienvenue sur le plateau!", numeroPlateau);
		document.getElementById("nomJuge").innerHTML = nomJuge;
		debutMatch();
	});
	
	// Entrée sur un plateau refusée : affichage d'un message d'erreur
	serveur.on('non_merci', function(msg){
		window.alert("Entrée refusée : " + msg);
		window.location.reload(true);
	});

	// La mécanique du match en tant que tel
	function debutMatch() {
	
		window.plateau = io.connect(racineURL + numeroPlateau);
		plateau.emit('allo', {nomJoueur: nomJoueur, noSeqBouton: noSeqBouton})
		
		// Le message aToi		
		plateau.on('aToi', function(){
			document.getElementById("buzzeur").classList.remove("btn-primary");
			document.getElementById("buzzeur").classList.add("btn-success");
		});
		
		plateau.on('bloque', function(){
			document.getElementById("buzzeur").classList.remove("btn-primary");
			document.getElementById("buzzeur").classList.add("btn-dark");
		});

		plateau.on('auJeu', function(){
			document.getElementById("buzzeur").classList.remove("btn-dark");
			document.getElementById("buzzeur").classList.remove("btn-success");
			document.getElementById("buzzeur").classList.add("btn-primary");
		});

		plateau.on('erreur', () => {
  			window.alert("Erreur de la console, prière de redémarrer.");
		});
 
		// pas très chic, mais permet de buzzer avec ENTER ou ESPACE
		document.addEventListener("keydown", function (event) {
			// Number 13 is the "Enter" key on the keyboard and 32 is "Space"
			if (event.keyCode === 13 || event.keyCode == 32) {
				// Cancel the default action, if needed
				event.preventDefault();
				// Trigger the button element with a click
				document.getElementById("buzzeur").click();
			}
		});
	};

	function buzz() {
		window.plateau.emit('signal', {nomJoueur: nomJoueur, noSeqBouton: noSeqBouton});
	};

</script>

</head>
  <body>
    <div class="container">

	<div class="container" id="formulaireID" style="display: inline">
	    <div class="container">
	         <h1>buz40 : bienvenue!</h1>

        <table border=0><tr valign=bottom>
  			<td>
  				  <label for="formJoueur">Nom</label><br />
  				  <input type="text" class="form-control" id="formJoueur" placeholder="Nom" oninput="validerNomNonVide()">
  			</td>
  			<td>
  				  <label for="exampleInputEmail2">Plateau</label><br />
  				  <input type="text" class="form-control" id="formPlateau" placeholder="numéro">
 			 </td>
 			 <td>
				<button type="button" class="btn btn-primary" id="formAcceder" disabled="true" onclick="identification();">Accéder</button>
 		 	</td>
 		 	</tr>
</table>
        
    </div>
<script>	document.getElementById("formPlateau").value = cherchePlateau;
</script>
    </div>

    <div class="jumbotron" id="bouton" style="display: none">
      <div class="container">
		<h1 class="display-2">Buzzer de <span id="nomJoueur"/></h1>
		<p class="display-6">Plateau: <span id="nomJuge"/></p>
		<div class="d-grip gap-2">
			<button class="btn btn-primary" type="button" style="padding-right: 200px; padding-top: 150px; font-size: 40pt" onClick="buzz();" id="buzzeur" role="button">Buzz!</button></p>
		</div>

<p><small><strong>Truc&nbsp;:</strong><br />
Vous pouvez cliquer sur le bouton avec la souris, ou utiliser <kbd>Entrée</kbd> ou <kbd>Espace</kbd> pour buzzer. </small></p> 
      </div>
    </div>

         
</body>         
</html>

  </body>
</html>